<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="/javascripts/vue.js"></script>
  <title>Android</title>
  <style>
    * {
        list-style: none;
      }
      .wrap {
        margin-bottom: 30px;
      }
      .txt {
        font-family: Helvetica,Arial,sans-serif;
        font-size: 24px;
        line-height: 1.5;
        color: #000;
      }
      .btn {
        outline: none;
        background: transparent;
        border: none;
        margin: 0;
        padding: 0;
        cursor: pointer;
      }
      .btn-main {
        margin-top: 10px;
        padding: 5px 8px;
        background-color: #ddd;
        font-size: 14px;
      }
      dl {
        display: block;
      }
      input,
      textarea {
        outline: none;
        display: block;
        width: 100%;
        padding: 5px 3px;
        resize: none;

        font-size: 14px;
      }
  </style>
</head>
<body>
  <section class="wrap">
    <ul class="market-list">
      <li class="market">
        <span class="name">通用</span>
        <section class="input-wrapper">
          <input type="text" name="keywords" placeholder="关键词，空格分隔，不超过100个字符">
          <textarea name="desc" id="" cols="30" rows="10" placeholder="描述，不超过 1500 个字符，不得出现违法广告词"></textarea>
        </section>
      </li>
      <li class="market">
        <span class="name">应用宝</span>
        <section class="input-wrapper">
          <input type="text" name="keywords" placeholder="关键词，空格分隔，不超过100个字符">
          <textarea name="desc" id="" cols="30" rows="10" placeholder="描述，不超过 1500 个字符，不得出现违法广告词"></textarea>
        </section>
      </li>
      <li class="market">
        <span class="name">小米</span>
        <section class="input-wrapper">
          <input type="text" name="keywords" placeholder="关键词，空格分隔，不超过100个字符">
          <textarea name="desc" id="" cols="30" rows="10" placeholder="描述，不超过 1500 个字符，不得出现违法广告词"></textarea>
        </section>
      </li>
      <li class="market">
        <span class="name">vivo</span>
        <section class="input-wrapper">
          <input type="text" name="keywords" placeholder="关键词，空格分隔，不超过100个字符">
          <textarea name="desc" id="" cols="30" rows="10" placeholder="描述，不超过 1500 个字符，不得出现违法广告词"></textarea>
        </section>
      </li>
      <li class="market">
        <span class="name">oppo</span>
        <section class="input-wrapper">
          <input type="text" name="keywords" placeholder="关键词，空格分隔，不超过100个字符">
          <textarea name="desc" id="" cols="30" rows="10" placeholder="描述，不超过 1500 个字符，不得出现违法广告词"></textarea>
        </section>
      </li>
      <li class="market">
        <span class="name">华为</span>
        <section class="input-wrapper">
          <input type="text" name="keywords" placeholder="关键词，空格分隔，不超过100个字符">
          <textarea name="desc" id="" cols="30" rows="10" placeholder="描述，不超过 1500 个字符，不得出现违法广告词"></textarea>
        </section>
      </li>
    </ul>
  </section>
</body>
</html>