<!DOCTYPE html>
<html lang="en">
<head>
  <title>竞品分析</title>
  <link rel='stylesheet' href='stylesheets/style.css' />
  <script src="javascripts/vue.js"></script>
</head>
<body>
  <section class="aso">
    <aside>
      <section class="logo">
        <a href="/" class="link">
          <i class="icon icon-logo"></i>
        </a>
      </section>
      <nav>
        <a class="link" href="/">
          <i class="icon icon-analyze"></i>
          <p class="txt-nav">关键词分析</p>
        </a>
        <a class="link cur" href="/compete">
          <i class="icon icon-compete"></i>
          <p class="txt-nav">竞品分析</p>
        </a>
        <a class="link" href="/android">
          <i class="icon icon-android"></i>
          <p class="txt-nav">安卓填写</p>
        </a>
      </nav>
    </aside>

    <section class="main">
      <section class="main-inner">
        <b class="pop pop-loading" v-if="isLoading">
          <i class="icon icon-loading"></i>
          <span class="txt-with-icon">努力分析中...</span>
        </b>

        <form method="post" class="form" enctype="multipart/form-data">
          <section class="form-bd">
            <dl class="form-item">
              <dt class="form-item-hd title-item">请上传所有竞品ASO数据</dt>
              <dd class="form-item-bd">
                <section class="file-wrap" v-if="uplFileArr.length>0">
                  <ul class="list-upl-file">
                    <li class="item-upl-file" v-for="f in uplFileArr">
                      <i class="icon icon-file"></i>
                      <span class="txt-with-icon">{{f.name}}</span>
                    </li>
                  </ul>
                  <!-- <b class="uploader">
                    <span class="txt-link">重新上传</span>
                    <input type="file" name="file" id="" @change="uploadFile">
                  </b> -->
                </section>
                <section class="uploader">
                  <section class="uploader-inner">
                    <i class="icon-upload"></i>
                    <span class="txt-with-icon">上传ASO数据</span>
                  </section>
                  <!-- <input type="file" name="file" id="" @change="uploadFile"> -->
                  <input type="file" name="file" id="" @change="uploadFile" multiple>
                </section>
              </dd>
            </dl>
          </section>
          <footer class="form-ft">
            <!-- <button class="btn btn-main btn-with-icon" @click="postData1">提交分析</button> -->
            <button class="btn btn-main btn-with-icon" @click="postData">提交分析</button>
          </footer>
        </form>

        <section class="result" v-show="isShow" v-cloak>
          <table>
            <thead>
              <tr>
                <th>关键词</th>
                <th>排名</th>
                <th>变化</th>
                <th>热度</th>
                <th>搜索结果数</th>
                <th>出现频率</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="word in keywordsArr">
                <td>{{word.keyword}}</td>
                <td>{{word.data[0]}}</td>
                <td>{{word.data[1]}}</td>
                <td>{{word.data[2]}}</td>
                <td>{{word.data[3]}}</td>
                <td>
                  <p v-for="where in word.from">{{where}}</p>
                  <!-- {{word.from}} -->
                </td>
              </tr>
            </tbody>
          </table>
        </section>
      </section>
    </section>
  </section>

  
  <script src="javascripts/jquery-2.0.3.min.js"></script>
  <script src="javascripts/d3.v3.min.js"></script>
  <script src="javascripts/tree-split.js"></script>

  <script>
    const width = 680, height =800;
    const wrap = new Vue({
      el: ".aso",
        data: {
          keywordsArr: [],
          isShow: false,
          isLoading: false,
          fd: new FormData(),
          uplFileArr: []
        },
        methods: {
          uploadFile(e) {
            const files = e.target.files || e.dataTransfer.files;
            // console.log(files);

            if (!files.length)
              return;

            // let fileArray = [];
            for(let key in files) {
              // this.uplFileArr.push(files[key]);
              console.log(parseInt(key));
              if(!isNaN(parseInt(key)))
                this.uplFileArr.push(files[key]);
            }
            console.log(this.uplFileArr);
            
            this.uplFileArr.forEach(file => {
              this.fd.append(`competitors`, file);
            })
          },
          postData(e) {
            e.preventDefault();
            const _self = this;

            $.ajax({
              url: 'compete/postCompeteData',
              type: 'POST',
              data: _self.fd,
              contentType: false,
              processData: false,
              success(res) {
                console.log('in succ');
                if(res.code === 0) {
                  console.log(res);
                  _self.keywordsArr = res.data;
                  _self.isShow = true;
                }
              },
              error(err) {
                console.log('in err');
                console.log(err);
              }
            })
          }
        }
    })
  </script>
</body>
</html>