<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="/javascripts/vue.js"></script>
  <title>词法分析</title>
  <style>
    *{
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
    .txt {
      font-family: Helvetica,Arial,sans-serif;
      font-size: 24px;
      line-height: 1.5;
      color: #000;
    }
  </style>
</head>
<body>
  <section class="result">
    <ul class="l--txt">
      <li class="txt" v-for="(value, word) in keywords" >
        <span class="txt" :style="value">{{word}}</span>
      </li>
    </ul>
  </section>

  <script>
    const result = new Vue({
      el: ".l--txt",
      data: {
        keywords: <%- data %>
      }
    })
  </script>
</body>
</html>