<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='stylesheets/style.css' />
    <script src="javascripts/vue.js"></script>
    <title>ASOHelper</title>
  </head>
  <body>
    <section class="aso" v-cloak>
      <aside>
        <section class="logo">
          <a href="//tonytony.club/tool/asohelper/" class="link">
            <i class="icon icon-logo"></i>
          </a>
        </section>
        <nav>
          <a class="link cur" href="//tonytony.club/tool/asohelper/">
            <i class="icon icon-analyze"></i>
            <p class="txt-nav">关键词分析</p>
          </a>
          <a class="link" href="//tonytony.club/tool/asohelper/compete">
            <i class="icon icon-compete"></i>
            <p class="txt-nav">竞品分析</p>
          </a>
          <a class="link" href="//tonytony.club/tool/asohelper/android">
            <i class="icon icon-android"></i>
            <p class="txt-nav">安卓填写</p>
          </a>
        </nav>
      </aside>

      <section class="main">
        <section class="main-inner">

          <b class="pop pop-loading" v-if="isLoading">
            <i class="icon icon-loading"></i>
            <span class="txt-with-icon">努力分析中...</span>
          </b>

          <form method="post" enctype="multipart/form-data" class="form">
            <section class="form-bd">
              <dl class="form-item">
                <dt class="form-item-hd title-item">关键词</dt>
                <dd class="form-item-bd">
                  <textarea class="form-textarea txt-cont" placeholder="关键词，用英文逗号分隔" name="kw" id="" cols="30" rows="10" v-model="keywords">{{keywords}}</textarea>
                </dd>
              </dl>
              <dl class="form-item">
                <dt class="form-item-hd title-item">数据上传</dt>
                <dd class="form-item-bd">
                  <section class="file-wrap" v-if="uplFileArr.length>0">
                    <ul class="list-upl-file">
                      <li class="item-upl-file" v-for="f in uplFileArr">
                        <i class="icon icon-file"></i>
                        <span class="txt-with-icon">{{f.name}}</span>
                      </li>
                    </ul>
                    <b class="uploader">
                      <span class="txt-link">重新上传</span>
                      <input type="file" name="file" id="" @change="uploadFile">
                    </b>
                  </section>

                  <section class="uploader" v-else>
                    <section class="uploader-inner">
                      <i class="icon-upload"></i>
                      <span class="txt-with-icon">上传ASO数据</span>
                    </section>
                    <input type="file" name="file" id="" @change="uploadFile">
                  </section>
                </dd>
              </dl>
            </section>
            <footer class="form-ft">
              <button class="btn btn-main btn-with-icon" @click="postData1">提交分析</button>
            </footer>
          </form>

          <section class="result" v-show="isShow">
            <section class="result-item">
              <h3 class="title-item">建议保留</h3>
              <span v-for="keyword in decidedKw" class="txt-cont" :style="'color:' + keyword.color">{{keyword.title}},</span>
            </section>
            <section class="result-item" v-if="consideredKw.length>0">
                <h3 class="title-item">建议组词/拆词/删除</h3>
                <ul class="list" >
                  <li class="txt" v-for="keyword in consideredKw">
                    <!-- <p class="txt-cont"><a class="link" :href="'#'+keyword.title" :style="'color:' + keyword.color">{{keyword.title}}</a>，表现平平，来看看其他词吧</p> -->
                    <p class="txt-cont">{{keyword.title}}，表现平平，来看看其他词吧</p>
                    <table v-if="keyword.betterWords.length>0">
                      <thead>
                        <tr>
                          <th>关键词</th>
                          <th>排名</th>
                          <th>变化</th>
                          <th>热度</th>
                          <th>搜索结果数</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="word in keyword.betterWords">
                          <td>{{word.keyword}}</td>
                          <td>{{word.data[0]}}</td>
                          <td>{{word.data[1]}}</td>
                          <td>{{word.data[2]}}</td>
                          <td>{{word.data[3]}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </li>
                </ul>
            </section>
          </section>

          <!-- 经过 rule 之后的结果 -->
          <!-- <section class="result" v-show="isShow">
            <h3 class="">建议保留</h3>
            <span v-for="keyword in decidedKw" class="txt" :style="'color:' + keyword.color">{{keyword.title}}&nbsp;</span>
          </section> -->

          <!-- <section class="advice" v-show="isShow">
            <h3>建议组词/拆词/删除</h3>
            <ul class="list" >
              <li class="txt" v-for="keyword in consideredKw">
                <p><a :href="'#'+keyword.title" :style="'color:' + keyword.color">{{keyword.title}}</a>，表现平平，要不要看看下面的词：</p>
                <table>
                  <thead>
                    <tr>
                      <th>关键词</th>
                      <th>排名</th>
                      <th>变化</th>
                      <th>热度</th>
                      <th>搜索结果数</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="word in keyword.betterWords">
                      <td>{{word.keyword}}</td>
                      <td>{{word.data[0]}}</td>
                      <td>{{word.data[1]}}</td>
                      <td>{{word.data[2]}}</td>
                      <td>{{word.data[3]}}</td>
                    </tr>
                  </tbody>
                </table>
              </li>
            </ul>
          </section> -->

          <!-- tree 结果 -->
          <section id="svg-wrapper">
          </section>
        </section>
      </section>
    </section>

    <script src="javascripts/jquery-2.0.3.min.js"></script>
    <script src="javascripts/d3.v3.min.js"></script>
    <script src="javascripts/tree-split.js"></script>
    <script>
      let DATA = {};

      const width = 680, height =800;


      //  ------- vue part 
      const wrap = new Vue({
        el: ".aso",
        data: {
          keywords: '',
          isShow: false,
          isLoading: false,
          decidedKw: {},
          consideredKw: {},
          form: new FormData(),
          uplFileArr: [],
        },
        methods: {
          uploadFile(e) {
            const files = e.target.files || e.dataTransfer.files;
            if (!files.length)
              return;

            this.form.set('file', files[0]);
            
            if(this.uplFileArr.length>0) {
              this.uplFileArr.splice(0, this.uplFileArr.length);
            }
            this.uplFileArr.push({name: files[0].name});
          },
          postData(e) {
            e.preventDefault();
            // 每次点击的时候，先清空结果
            $('#svg-wrapper').empty();

            console.log(`keywords is ${this.keywords}`);
            this.form.set('kw', this.keywords);
            const _self = this;

            $.ajax({
              url: 'postData',
              type:'POST',
              data: _self.form,
              contentType: false,
              processData: false,
              success: function(res) {
                console.log('in succ');
                if(res.code === 0) {
                  // const allData = res.data[0]; // DATA[0] 是所有的
                  _self.decidedKw = res.data[1].decided; // DATA[1].decided 是确定保留或者剔除的
                  _self.consideredKw = res.data[1].considered; // DATA[1].considered 是考虑中可以优化的
                  
                  _self.isShow = true;

                  /**
                   * TYPE_RANK = 0,
                   *  TYPE_DELTA = 1,
                   *  TYPE_EXP = 2,
                   *  TYPE_COUNT = 3;
                  **/
                  allData.forEach(data => {

                    // 每个词有一个 section
                    $('#svg-wrapper').append(`<section class="word-wrapper" id="${data.title}"></section>`);
                    $('#svg-wrapper').find('#'+data.title)
                                     .append(`<h2><a href="#${data.title}" id="${data.title}" style="color:${data.color}">${data.title}</a></h2>`)
                                     .append(`<section class="tree-wrapper" id=tree-${data.title}></section>`);

                    data.cont.forEach((d, index)=> {
                      $('#svg-wrapper').find(`#${data.title} .tree-wrapper`)
                                       .append(`<section class="tree" id=tree-${index}-${data.title}></section>`);
                      let tree = new Tree(d, width, height, index);
                      tree.init(`#tree-${index}-${data.title}`);
                    })
                  });
                }else {
                  console.log(res);
                }
              },
              error: function(err) {
                console.log('in err');
                console.log(err);
              }
            })
          },
          postData1(e) {
            e.preventDefault();
            // 每次点击的时候，先清空结果
            // $('#svg-wrapper').empty();
            this.isLoading = true;

            console.log(`keywords is ${this.keywords}`);
            this.form.set('kw', this.keywords);
            const _self = this;

            $.ajax({
              url: 'postData',
              type:'POST',
              data: _self.form,
              contentType: false,
              processData: false,
              success: function(res) {
                console.log('in succ');
                if(res.code === 0) {
                  const allData = res.data[0]; // DATA[0] 是所有的
                  _self.decidedKw = res.data[1].decided; // DATA[1].decided 是确定保留或者剔除的
                  _self.consideredKw = res.data[1].considered; // DATA[1].considered 是考虑中可以优化的
                  
                  _self.isShow = true;
                  _self.isLoading = false;

                  /**
                   * TYPE_RANK = 0,
                   *  TYPE_DELTA = 1,
                   *  TYPE_EXP = 2,
                   *  TYPE_COUNT = 3;
                  **/
                  // allData.forEach(data => {

                  //   // 每个词有一个 section
                  //   $('#svg-wrapper').append(`<section class="word-wrapper" id="${data.title}"></section>`);
                  //   $('#svg-wrapper').find('#'+data.title)
                  //                    .append(`<h2><a href="#${data.title}" id="${data.title}" style="color:${data.color}">${data.title}</a></h2>`)
                  //                    .append(`<section class="tree-wrapper" id=tree-${data.title}></section>`);

                  //   data.cont.forEach((d, index)=> {
                  //     $('#svg-wrapper').find(`#${data.title} .tree-wrapper`)
                  //                      .append(`<section class="tree" id=tree-${index}-${data.title}></section>`);
                  //     let tree = new Tree(d, width, height, index);
                  //     tree.init(`#tree-${index}-${data.title}`);
                  //   })
                  // });
                }else {
                  console.log(res);
                }
              },
              error: function(err) {
                console.log('in err');
                console.log(err);
              }
            })
          }
          // testRouter(e) {
          //   e.preventDefault();
          //   const _self = this;
          //   $.ajax({
          //     url: '/testRouter',
          //     type: 'POST',
          //     data: {data: _self.keywords},
          //     success(res) {
          //       console.log('in succ');
          //       console.log(res);
          //     },
          //     error(err) {
          //       console.log('in err');
          //       console.log(err);
          //     }
          //   })
          // }
        }
      })
    </script>
  </body>
</html>