.link,
.link:hover {
  text-decoration: none;
  font-size: inherit;
  color: inherit;
}

.txt-nav {
  font-size: 14px;
}
.txt-cont {
  font-size: 15px;
  color: #1A233D;
}
.txt-with-icon {
  display: block;
}
.txt-link {
  font-size: inherit;
  color: inherit;
}
.txt-link:hover {
  text-decoration: underline;
}

.title-item {
  font-size: 18px;
  color: #1A233D;
}
.subtitle-item {
  font-size: 16px;
  color: #1A233D;
}